[submodule ".vim/bundle/double-tap"]
	path = .vim/bundle/double-tap
	url = https://github.com/Osse/double-tap.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
